.findpassword_complete_title {
  text-align: center;
  color: black;
}

.findpassword_complete_ment {
  text-align: center;
  padding: 50px;
}

.login_button {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  border-radius: 7px;
}
