.findpasswordresult_title {
    text-align: center;
    color: black;
}

table {
    margin: auto;
}

.change_cancel {
    width: 170px;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.change_cancel_button {
    flex-grow: 1;
    text-align: center;
}

.password_match_check {
    text-align: center;
}
