.edit_delete_box{

}


.comment_box {
  text-align: center;
  margin-bottom: 200px;
  margin-top: 100px;
  border-top: 1px solid black;
}

table {
  margin: auto;
  /* 텍스트에 따라 테이블의 사이즈가 유동적으로 바뀌지 않도록 하는 속성 */
  table-layout: fixed;
}

.comment_list {
  width: 1000px;
  border-collapse: collapse;

}

.comment_list td, th {
  /* 칸을 넘어가면 자동으로 줄바꿈을 해주는 속성 */
  word-break: break-all;
  border-bottom: 1px solid black;
  text-align: center;
}

#td_comment {
  width: 200px;
}



.edit_button, .delete_button {
  background-color: transparent !important;
 background-image: none !important;
 border-color: transparent;
 border: none;
 color: #000000;
}

.edit_delete {
  text-align: right;
  padding-right: 40px;
  margin-top: 20px;
}

.edit_delete a {
  font-size: 20px;
  color: black;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 5px;
}

.upload {
  background-color: transparent !important;
 background-image: none !important;
 border: 1px solid black;
 color: #000000;
}

.list_title {
  width: 570px;
}
